.container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;

}
.item{
    flex-grow: 1
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid #333;
  padding: 10px;
  margin: 20px; 
}

.item {
  background-color: lightblue;
  border: 1px solid #000;
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
}

.container--flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.container--flex .item {
  flex: 1 1 200px;
}